/*$color: #262828;

body {
  color: $color;
}*/

button{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color:#58ACFA;
    border-radius: 10px;
    border: 0px solid #58ACFA;
    margin-top: 0.5em;
}
html, body, #app, #app>div {
  height: 100%
}

body {
  text-align: center;
  background: #F2F2F2;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  .titulo{
    font-family: 'Titillium Web', sans-serif;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #58ACFA
  }.Ppal{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 20px;

    .input{
      margin: .4em 0;
    }
  }.Pie{

  }
}

h2{
	color: red;
}
